apiVersion: 1

# Automatically provision a Prometheus datasource that points to the
# prometheus service running in docker-compose on the same network.
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: GET
      timeInterval: 15s
